@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{box-sizing: border-box;}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

h4{
    font-size: 2rem;
    margin: 5px;
    text-transform: uppercase;
}

.input{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.input.hide{
    transform: translate(-50%,-50%) scale(0);
    animation: show 0.5s ease-out;
}

input{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

input:focus{
    outline: none !important;
    box-shadow: 1px 2px #ca2e55;
}


#start{
    background-color: #ca2e55;
    border-radius: 3px;
    border: none;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
}
  
  #start span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
  
  #start span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
  #start:hover span{
    padding-right: 25px;
}
  
  #start:hover span:after{
    opacity: 1;
    right: 0;
}


.counter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.counter.hide{
    transform: translate(-50%,-50%) scale(0);
    animation: hide 0.5s ease-out;
}

/* .counter.show{
    transform: translate(-50%,-50%) scale(1);
    animation: show 0.5s ease-out;
} */


@keyframes hide{
    0%{
        transform: translate(-50%,-50%) scale(1);
    }

    100%{
        transform: translate(-50%,-50%) scale(0);
    }
}

.final {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0) ;
    text-align: center;
}

.final.show{
    transform: translate(-50%,-50%) scale(1);
    animation: show 0.2s ease-out;
}


@keyframes show {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }
  
    30% {
      transform: translate(-50%, -50%) scale(1.4);
    }
  
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
}

.nums{
    color: #ca2e55;
    font-size: 50px;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 50px;
}

.nums span {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transform-origin: bottom center;
}

.nums span.in {
    transform: translate(-50%, -50%) rotate(0deg);
    animation: goIn 0.5s ease-in-out;
}

@keyframes goIn {
    0% {
        transform: translate(-50%, -50%) rotateY(120deg);
      }
    
      30% {
        transform: translate(-50%, -50%) rotateY(-20deg);
      }
    
      60% {
        transform: translate(-50%, -50%) rotateY(10deg);
      }
    
      100% {
        transform: translate(-50%, -50%) rotateY(0deg);
      }
}

.nums span.out {
    animation: goOut 0.5s ease-in-out;
}

@keyframes goOut {
    0% {
      transform: translate(-50%, -50%) rotateX(0deg);
    }
  
    60% {
      transform: translate(-50%, -50%) rotateX(20deg);
    }
  
    100% {
      transform: translate(-50%, -50%) rotateX(-120deg);
    }
}

/* styling button */
#replay{
    background-color: #ca2e55;
    border-radius: 3px;
    border: none;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
}
  
  #replay span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
  
  #replay span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
  #replay:hover span{
    padding-right: 25px;
}
  
  #replay:hover span:after{
    opacity: 1;
    right: 0;
}


